In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Show all rows
pd.set_option('display.max_rows', None)

# Show all columns
pd.set_option('display.max_columns', None)

# Don't truncate wide cells
pd.set_option('display.max_colwidth', None)

In [ ]:
df = pd.read_csv('smartphones - smartphones.csv')

In [ ]:
df.head()

## Data Assessing

### Quality Issues

1. **model** - some brands are written diiferently like OPPO in model column `consistency`
2. **price** - has unneccesary '₹' `validity`
3. **price** - has ',' between numbers `validity`
4. **price** - phone Namotel has a price of 99 `accuracy`
5. **ratings** - missing values `completeness`
6. **processor** - has some incorrect values for some samsung phones(row # -642,647,649,659,667,701,750,759,819,859,883,884,919,927,929,932,1002) `validity`
7. There is ipod on row 756 `validity`
8. **memory** - incorrect values in rows (441,485,534,553,584,610,613,642,647,649,659,667,701,750,759,819,859,884,919,927,929,932,990,1002) `validity`
9. **battery** - incorrect values in rows(113,151,309,365,378,441,450,553,584,610,613,630,642,647,649,659,667,701,750,756,759,764,819,855,859,884,915,916,927,929,932,990,1002) `validity`
10. **display** - sometimes frequency is not available `completeness`
11. **display** - incorrect values in rows(378,441,450,553,584,610,613,630,642,647,649,659,667,701,750,759,764,819,859,884,915,916,927,929,932,990,1002) `validity`
12. certain phones are foldable and the info is scattered `validity`
13. **camera** - words like Dual, Triple and Quad are used to represent number of cameras and front and rear cameras are separated by '&'
14. **camera** - problem with rows (100,113,151,157,161,238,273,308,309,323,324,365,367,378,394,441,450,484,506,534,553,571,572,575,584,610,613,615,630,642,647,649,659,667,684,687,705,711,723,728,750,756,759,764,792,819,846,854,855,858,883,884,896,915,916,927,929,932,945,956,990,995,1002,1016
) `validity`
15. **card** - sometimes contains info about os and camera `validity`
16. **os** - sometimes contains info about bluetooth and fm radio `validity`
17. **os** - issue with rows (324,378) `validity`
18. **os** - sometimes contains os version name like lollipop `consistency`
19. missing values in camera, card and os `completeness`
20. datatype  of price and rating is incorrect `validity`



### Tidiness Issues

1. **sim** - can be split into 3 cols has_5g, has_NFC, has_IR_Blaster
2. **ram** - can be split into 2 cols RAM and ROM
3. **processor** - can be split into processor name, cores and cpu speed.
4. **battery** - can be split into battery capacity, fast_charging_available
5. **display** - can be split into size, resolution_width, resolution_height and frequency
6. **camera** - can be split into front and rear camera
7. **card** - can be split into supported, extended_upto

In [ ]:
df.head()
df.tail()
df.sample(5)
#if column has a missing value then pandas will convert that into the Float

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.duplicated().sum()

In [ ]:
# make a copy
df_backup = df.copy()

In [ ]:
#Convert price column ₹ and , with '' and convert to the integer
df['price'] = df['price'].str.replace('₹','').str.replace(',','').astype('int')

In [ ]:
#fill the data in price

In [ ]:
#because the observation which we had done start from the column no 2 and in the dataframe it is starting from the 0
df = df.reset_index()

In [ ]:
df['index'] = df['index'] + 2

In [ ]:
processor_rows = set((642,647,649,659,667,701,750,759,819,859,883,884,919,927,929,932,1002))
ram_rows = set((441,485,534,553,584,610,613,642,647,649,659,667,701,750,759,819,859,884,919,927,929,932,990,1002))
battery_rows = set((113,151,309,365,378,441,450,553,584,610,613,630,642,647,649,659,667,701,750,756,759,764,819,855,859,884,915,916,927,929,932,990,1002))
display_rows = set((378,441,450,553,584,610,613,630,642,647,649,659,667,701,750,759,764,819,859,884,915,916,927,929,932,990,1002))
camera_rows = set((100,113,151,157,161,238,273,308,309,323,324,365,367,378,394,441,450,484,506,534,553,571,572,575,584,610,613,615,630,642,647,649,659,667,684,687,705,711,723,728,750,756,759,764,792,819,846,854,855,858,883,884,896,915,916,927,929,932,945,956,990,995,1002,1016 ))

In [ ]:
# we can identify and observe the rows which has some problem

problem_rows = df[df['index'].isin(processor_rows | ram_rows | battery_rows | display_rows | camera_rows)]

In [ ]:
df[df['index'].isin(processor_rows & ram_rows & battery_rows & display_rows & camera_rows)]

#if you take the mean of the price then you will identify that mean price of this is 3400 so that phone might not be a smart phone. So you can drop this phone

In [ ]:
#dataframe is updated - now left only 3 phone with missing data
df = df[df['price'] >= 3400]

In [ ]:
df[df['index'].isin(processor_rows & ram_rows & battery_rows & display_rows & camera_rows)]

In [ ]:
df.shape

In [ ]:
#Processor Column

#  --> you can drop this rows as this are feature phones

df.drop([645,857,882,925],inplace=True)

In [ ]:
df[df['index'].isin(processor_rows)]

In [ ]:
#ram rows

df[df['index'].isin(ram_rows)]

In [ ]:
df.drop([582],inplace = True)
# no issue observed as ram will be split into ram data and rom data

In [ ]:
#battery data

df[df['index'].isin(battery_rows)]

In [ ]:
df.drop([376,754],inplace=True)

In [ ]:
temp_df = df[df['index'].isin(battery_rows)]

In [ ]:
x = temp_df.iloc[:,7:].shift(1,axis=1).values

In [ ]:
x_index = temp_df.index

In [ ]:
df.loc[temp_df.index,temp_df.columns[7:]] = x

In [ ]:
df[df['index'].isin(battery_rows)]

In [ ]:
#display rows

df[df['index'].isin(display_rows)]

In [ ]:
#camera rows

temp_df = df[df['index'].isin(camera_rows)]
temp_df.shape

In [ ]:
df.drop([155,271],inplace = True)

In [ ]:
temp_df1 = temp_df[~temp_df['camera'].str.contains('MP')]
temp_df1

In [ ]:
temp_df1.drop([155,271],inplace = True)

In [ ]:
df.loc[temp_df1.index,'camera'] = temp_df1['card']

In [ ]:
#card in rows --> chaeck this way you can compare the value 

df['card'].value_counts()

In [ ]:
temp_df = df[df['card'].str.contains("MP")]

In [ ]:
df.loc[temp_df.index,'card'] = "Memory Card Not Supported"

In [ ]:
# findout those rows where android and IOS are considered

temp_df = df[~df['card'].str.contains('Memory Card')]

In [ ]:
df.loc[temp_df.index,'os'] = temp_df['card']
df.loc[temp_df.index,'card'] =  "Memory Card Not Supported"

In [ ]:
df['card'].value_counts()

In [ ]:
#OS Card

df['os'].value_counts()

In [ ]:
temp_df = df[df['os'].str.contains('Memory Card')]
temp_df = temp_df[temp_df['os'].str.contains('2')]

In [ ]:
df.loc[temp_df.index,'card'] = temp_df['os'].values
df.loc[temp_df.index,'os'] = 'None'

In [ ]:
temp_df = df[df['os'] == "Memory Card Not Supported" ]
df.loc[temp_df.index,'os'] = 'None'

In [ ]:
temp_df = df[(df['os'] == "Bluetooth") | (df['os'] == "Memory Card (Hybrid)")]
df.loc[temp_df.index,'os'] = 'None'
# temp_df

In [ ]:
temp_df = df[(df['os'] == "None")]
df.loc[temp_df.index,'os'] = np.nan

In [ ]:
df[df['os'].str.contains('Androids')]
#if your column has any none value then it successor

In [ ]:
(982/1020)*100

In [ ]:
#on every column you need to use value counts

# Solving the tideness issue

In [ ]:
#splliting model column to the brand and model
brand_name = df['model'].str.split(' ').str.get(0)
df.insert(1,'brand_name',brand_name) #will add the column at a first position

In [ ]:
df['brand_name'] = df['brand_name'].str.lower()

In [ ]:
df.head()

In [ ]:
#sim card column

has_5G = df['sim'].str.contains('5G')
has_NFC = df['sim'].str.contains('NFC')
has_IR = df['sim'].str.contains('IR Blaster')

In [ ]:
df.insert(6,'Has_5G',has_5G)
df.insert(7,'Has_NFC',has_NFC)
df.insert(8,'Has_IR',has_IR)

In [ ]:
df.head(2)

In [ ]:
#Processor Column 

processor_name = df['processor'].str.split(',').str.get(0)
processor_core = df['processor'].str.split(',').str.get(1)
processor_frequency = df['processor'].str.split(',').str.get(2)

In [ ]:
df.insert(10,'Processor_name',processor_name)
df.insert(11,'Processor_core',processor_core)
df.insert(12,'Processor_frequency',processor_frequency)

In [ ]:
df.head(2)

In [ ]:
df['Processor_name'] = df['Processor_name'].str.strip()

In [ ]:
temp_df = df[df['Processor_name'].str.contains('Core')][['Processor_name','Processor_core','Processor_frequency']].shift(1,axis=1)

In [ ]:
df.loc[temp_df.index,temp_df.columns] = temp_df.values

In [ ]:
processor_brand = df['Processor_name'].str.split(' ').str.get(0).str.lower()

In [ ]:
df.insert(11,'Processor_brand',processor_brand)

In [ ]:
df.head()

In [ ]:
#Processor_core
df['Processor_core'] = df['Processor_core'].str.strip()

In [ ]:
df['Processor_core'] = df['Processor_core'].str.replace('Processor','').str.strip()

In [ ]:
df['Processor_core'].value_counts()

In [ ]:
#Processor frequency column

df['Processor_frequency'] = df['Processor_frequency'].str.replace('Processor','')
df['Processor_frequency'] = df['Processor_frequency'].str.replace('GHz','')

In [ ]:
df['Processor_frequency'].value_counts()

In [ ]:
df.head()

In [ ]:
#.str is called accessor

ram = df['ram'].str.split(',').str.get(0)
rom = df['ram'].str.split(',').str.get(1)

In [ ]:
temp_df = ram[ram.str.contains('inbuilt')]
df.loc[temp_df.index,'Rom'].shape

In [ ]:
df.insert(15,'Ram',ram)
df.insert(16,'Rom',rom)

In [ ]:
df.loc[temp_df.index,'Rom'] = temp_df.values

In [ ]:
temp_df.index

In [ ]:
df['Ram'] = df['Ram'].str.replace('GB','').str.replace('RAM','').str.strip()

In [ ]:
df.loc[temp_df.index,'Ram'] = np.nan

In [ ]:
df['Ram'].value_counts()

In [ ]:
df[df['Ram'] == '512 MB']

In [ ]:
temp = df['Ram'].dropna()

In [ ]:
df.loc[486,'Ram'] = 0.5

In [ ]:
df.loc[627,'Ram'] = 0.0625

In [ ]:
df['Rom'].value_counts()

In [ ]:
#Replace nuencence in Rom Column 

df['Rom'] = df['Rom'].str.replace('inbuilt','').str.strip()

In [ ]:
df['Rom'] = df['Rom'].str.replace('GB',' ')
df['Rom'] = df['Rom'].str.replace('TB',' ')

In [ ]:
df['Rom'].value_counts()

In [ ]:
#Convert 128MB into 0.125GB
temp_df = df['Rom'][df['Rom'].str.contains('MB')]
df.loc[temp_df.index,'Rom'] = 0.125

In [ ]:
# df[df['Rom'] == 0]['Rom']
df.loc[627,'Rom'] = 0.125

In [ ]:
#Convert Rom into int
df['Rom'] = df['Rom'].astype(float)

In [ ]:
#Convert 1 Tb into 1024 GB
temp_df = df[df['Rom'] == 1]

In [ ]:
df.loc[temp_df.index,'Rom'] = 1024

In [ ]:
df['Rom'].value_counts()

In [ ]:
df.sample(4)

In [ ]:
#battery cleaning
#battery Capacity - Fast Charging capacity - Fast Charging capacity
battery_capacity = df['battery'].str.strip().str.split('with').str.get(0).str.strip().str.replace('mAh Battery','').str.strip().astype('float')
df.insert(18,'Battery_capacity',battery_capacity)

In [ ]:
# has_fast_charging = df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.contains('Fast Charging')
has_fast_charging = df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.contains('Fast Charging').fillna('False')
df.insert(19,'has_fast_charging',has_fast_charging)
# df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.contains('Fast Charging')

In [ ]:
# fast_charging_capacity = df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.split('Fast Charging')
fast_charging_capacity = df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.findall(r'\d{2,3}')
# df.insert(20,'Fast_charging_capacity',fast_charging_capacity)

In [ ]:
df['Fast_charging_capacity'] = df['battery'].str.strip().str.split('with').str.get(1).str.strip().str.findall(r'\d{2,3}')

In [ ]:
df['has_fast_charging'].value_counts()

In [ ]:
df['Fast_charging_capacity'].value_counts()

In [ ]:
def extracting_value(x):
    if type(x) == list:
        if len(x) == 1:
            return x[0]
        else:
            return 0
    else:
        return -1
    
df['Fast_charging_capacity'] = df['Fast_charging_capacity'].apply(extracting_value)

In [ ]:
df['Fast_charging_capacity'].value_counts(ascending = False)

In [ ]:
#Display
#screen_size 
screen_size = df['display'].str.strip().str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('float')

In [ ]:
px = df['display'].str.strip().str.split(',').str.get(1).str.split('px').str.get(0).str.strip()

In [ ]:
refresh_rate = df['display'].str.strip().str.split(',').str.get(2).str.split('Hz').str.get(0).str.strip().fillna(60).astype('int')
refresh_rate.value_counts()

In [ ]:
df.head(1)

In [ ]:
df.insert(22,'Screen_size',screen_size)
df.insert(23,'Screen_resolution',px)
df.insert(24,'Refresh_rate',refresh_rate)

In [ ]:
df.head(1)

In [ ]:
#Camera 
def camera_counts(x):
    if 'Quad' in x:
        return 4
    elif 'Triple' in x:
        return 3
    elif 'Dual' in x:
        return 2
    elif 'Missing' in x:
        return 'Missing'
    else:
        return 1

In [ ]:
rear_camera = df['camera'].str.split('&').str.get(0).apply(camera_counts).fillna('Missing').astype('int')

In [ ]:
# df['camera'].str.split('&').str.get(1).fillna('Missing').apply(camera_counts)
front_camera = df['camera'].str.split('&').str.get(1).fillna('Missing').apply(camera_counts)

In [ ]:
df.head(2)

In [ ]:
df.insert(26,'Front_camera',front_camera)
df.insert(27,'Rear_camera',rear_camera)

In [ ]:
df.head(2)

In [ ]:
#card

memory_card_support = ~df['card'].str.split(',').str.get(0).str.contains('Not')

In [ ]:
df.insert(29,'Memory_card_support',memory_card_support)

In [ ]:
temp_df = df['card'].str.split(',').str.get(1).str.split(' ').str.get(2).str.replace('GB','').str.replace('TB','').str.strip()

In [ ]:
temp_df[temp_df == '1'] = 1024

In [ ]:
temp_df.value_counts()

In [ ]:
df.insert(29,'Memory_card_size',temp_df)

In [ ]:
df['Memory_card_size'] = df['Memory_card_size'].fillna(0)

In [ ]:
temp_df = df[df['Memory_card_size'] == '2']
df.loc[temp_df.index,'Memory_card_size'] = 2048

In [ ]:
df['Memory_card_size'] = df['Memory_card_size'].astype('int')

In [ ]:
df['Memory_card_size'].value_counts()

In [ ]:
df[df['Memory_card_size'] == 2048]

In [ ]:
#os - > os_name , version

os_name = df['os'].str.strip().str.split(' ').str.get(0).str.lower().str.strip()
os_version = df['os'].str.strip().str.split(' ').str.get(1).str.lower().str.strip()

In [ ]:
temp_df1 = os_version[os_version == 'os']
temp_df2 = os_version[os_version == '(series']
temp_df2

In [ ]:
os_version.value_counts()

In [ ]:
df.insert(31,'Os_name',os_name)
df.insert(32,'Os_version',os_version)

In [ ]:
df.loc[temp_df2.index]

In [ ]:
df.loc[483,'Os_version'] = 'v3.0'
df.loc[597,'Os_version'] = 'Missing'
df.loc[724,'Os_version'] = 'v4.0'
df.loc[627,'Os_version'] = 'Missing'

In [ ]:
df.head(2)

In [ ]:
final_df = df.copy()

In [ ]:
final_df = final_df.drop(columns= ['index','sim','processor','ram','battery','display','camera','card','os'])

In [ ]:
final_df.rename(columns={'brand_name':'Brand_name','model':'Model','price':'Price','rating':'Rating','has_fast_charging':'Has_fast_charging'},inplace=True)

In [ ]:
final_df.info()

In [ ]:
final_df['Processor_frequency'] = final_df['Processor_frequency'].astype(float)

In [ ]:
final_df['Ram'] = final_df['Ram'].astype('float')

In [ ]:
final_df['Price'].describe()

In [ ]:
final_df.to_csv('Phone_cleaned_data')